body {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Montserrat', sans-serif;
  /*background: url('https://media.istockphoto.com/photos/portrait-of-multicultural-medical-team-standing-in-hospital-corridor-picture-id1204177269?k=20&m=1204177269&s=612x612&w=0&h=gBL8z_6qD6MuEeVZjgrkXUMepp8zwpIEj21LqSbnpZ8=');
  /*background: url('');
  background-size: cover;
  background-repeat: repeat;
  background-color: white;
  color: white;*/
  /*display: flex;
  align-items: center;
  /*height: 100vh;*/
}

.navbar {
  background-color: #191919;
  color: white;
  padding: 2% 6%;
}

@media (max-width: 720px) {
  .navbar {
    background-color: #191919;
    color: white;
    padding: 2% 5%;
  }

  .nav-item {
    font-size: 11px;
  }
}

@media (max-width: 720px) {
  .navbar-toggler {
    padding: 0.25rem 0 !important;
  }

  .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-bottom: 0;
  }
  .nav-linkexpand {
    padding-bottom: 1rem !important;
  }
}

@media (max-width: 720px) {
  .imgnav {
    height: 30px !important;
  }
}

.navbar-toggler {
  padding: 0;
  border: 0
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.navbar-nav .nav-link {
  padding-right: 34px;
  float: right !important;
  padding-left: 0;
}

p {
  margin-bottom: 0 !important;
}

.firstconpad {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 700px) {
  .firstconpad {
    padding-top: 4rem !important;
    padding-bottom: 0 !important;
  }
}

.section2 {
  padding-top: 3rem !important;
  padding-bottom: 0 !important;
}

@media (max-width: 700px) {
  .section2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
  }
}

.section2pad {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

@media (max-width: 700px) {
  .section2pad {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

.ourservice {
  text-align: center !important;
  padding-bottom: 2rem !important;
}

@media (max-width: 700px) {
  .ourservice {
    text-align: center !important;
    padding-bottom: 0 !important;
  }
}

.imgservices {
  padding-bottom:2%;
}

@media (max-width: 720px) {
  .imgservices {
    padding-bottom:2%;
  }

.ourservicep {
    padding: 0 2% !important;
  }

@media (max-width: 720px) {
  .ourservicep {
    padding: 0 0 5% 0 !important;
  }


.card {
  margin-bottom: 4%;
}

.cardspad {
  padding: 0 1% 0 1%;
}

@media (max-width: 720px) {
  .cardspad {
    padding: 0 1%;
  }

.w-100 {
  padding-top: 4rem !important;
}

@media (max-width: 700px) {
  .w-100 {
    padding-top: 0 !important;
  }

  .centertext, .sectioncentermobile {
    text-align: center !important;
  }

  .ourserviceheadtext {
    padding: 0 0 !important;
    font-size: 0.9rem !important;
  }
}

.landingfirst {
    background-repeat: no-repeat;
    background-size: cover;
  }

@media (max-width: 700px) {
  .landingfirst {
    background: url('https://i.ibb.co/DG5NrXT/bgmob1.png') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 5% 5% !important;
  }
}

.carddiv {
  background-color:;
  color: white;
  padding: 0 5%;
}

.con1 {
  padding: 2% 5% 0 5%;
}

.footer {
  font-size: 15px !important;
  text-align: center;
  padding: 0 0;
  font-weight: 600;
  color: white;
  background-color: #3d4122;
}

@media (max-width: 700px) {
  .footer {
    font-size: 12px;
  }
}
